.profile__edit-button {
    background-color: #000000;
    border: 1px solid white;
    background-image: url(../../../images/edit.svg);
    background-repeat: no-repeat;
    background-position: center center;
    width: 24px;
    height: 24px;
    margin: 0;
    margin-top: 37px;
    padding: 0;
    transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media (max-width: 700px) {
    .profile__edit-button {
        margin-top: 30px;
        width: 18px;
        height: 18px;
        justify-self: start;
    }
}
