.popup__close-button {
    display: flex;
    background-color: transparent;
    width: 32px;
    height: 32px;
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    background-image: url(../../../images/Close-Icon.svg);
    background-repeat: no-repeat;
    cursor: pointer;
    transition: opacity 0.2s linear;
}

.popup__close-button:hover {
    opacity: 0.6;
}

@media (max-width: 700px) {
    .popup__close-button {
        background-image: url(../../../images/small-close-Icon.svg);
        width: 20px;
        height: 20px;
        top: -40px;
        right: 0;
    }
}