.profile__title {
    font-weight: 500;
    font-size: 42px;
    color: #ffffff;
    margin: 0;
    padding-top: 22px;
    padding-bottom: 10px;
    max-width: 294px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 700px) {
    .profile__title {
        max-width: 189px;
        font-size: 27px;
        padding-top: 22.5px;
        padding-bottom: 14px;
        justify-self: end;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}
