.elements__element-image {
    width: 282px;
    height: 282px;
    object-fit: cover;
}
@media (max-width: 900px) {
    .elements__element-image {
        width: 320px;
    }
}
@media (max-width: 600px) {
    .elements__element-image {
        width: 282px;
    }
}
