.elements__element-image {
    max-width: 282px;
    width: 100%;
    object-fit: cover;
    background-position: right;
}
@media (max-width: 900px) {
    .elements__element-image {
        max-width: 320px;
    }
}
@media (max-width: 600px) {
    .elements__element-image {
        max-width: 282px;
    }
}
