.elements__element-like {
    padding: 0;
    background-color: transparent;
    background-image: url(../../../images/like-icon.svg);
    background-repeat: no-repeat;
    background-position: center top;
    background-color: unset;
    border: none;
    height: 19px;
    width: 22px;
    align-self: center;
    cursor: pointer;
    transition: opacity 0.1s linear;
    margin-bottom: 3px;
}

.elements__element-like:hover {
    opacity: 0.5;
}