.elements__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 17px;
    justify-items: center;
    row-gap: 20px;
    padding: 47.5px 0 67px;
}

@media (max-width: 900px) {
    .elements__list {
        grid-template-columns: 1fr 1fr;
        padding: 36px 0 48px;
    }
}

@media (max-width: 700px) {
    .elements__list {
        max-width: 282px;
        width: 100%;
        grid-template-columns: 1fr;
    }
}